<div class="header">
    <div class="title">
        <img src="../../../assets/Logo.PNG" id="logo-img">
        <span>
            <img src="../../../assets/- Dealers.PNG" id="subtitle-img">

        </span>
    </div>
    <div class="register"><img src="../../../assets/REGISTERING AS DEALER.PNG" class="reg_img"></div>
    <div class="login"><button class="login_btn">LOG IN</button></div>
</div>


<div class="mobile_header">
    <img class="mobile_logo" src="../../../assets/Main Logo-03.PNG" alt="">
    <img class="mobile_login_btn" src="../../../assets/LogIn.PNG">
</div>
<div class="mob_reg_header">
    <img class="mob_reg_img" src="../../../assets/REGISTERING AS DEALER.PNG">
</div>