<div class="header" *ngIf="!InputData.isLoggedin">
    <div class="title">
        <img src="../../../assets/Logo.PNG" id="logo-img">
        <span>
            <img src="../../../assets/- Dealers.PNG" id="subtitle-img">
        </span>
    </div>
    <div class="register"><img src="../../../assets/REGISTERING AS DEALER.PNG" *ngIf="InputData.showRegImg" class="reg_img"></div>
    <div class="login">
        <button class="login_btn" *ngIf="InputData.showLogin_btn">LOG IN</button>
        <button class="login_btn" *ngIf="!InputData.showLogin_btn">LOG OUT</button>
    </div>
</div>

<div class="login_header" *ngIf="InputData.isLoggedin">
    
    <button mat-icon-button (click)="toggle()" class="mob_sidenav">
        <mat-icon *ngIf="!onmobSideNavChange">menu</mat-icon>
        <mat-icon *ngIf="onmobSideNavChange">close</mat-icon>
    </button>
    <div class="title">
        <img class="login_logo" src="../../../assets/Main Logo-03.PNG" alt="">
        <img src="../../../assets/Logo.PNG" id="login_logo-img">
        <span>
            <img src="../../../assets/- Dealers.PNG" id="login_subtitle-img">
        </span>
    </div>
    <div class="contact_details">
        <div class="contact">CONTACT US</div>
        <div class="contact">SUPPORT</div>
        <img src="../../../assets/fb.PNG" style="height: 1.5em;">
        <img src="../../../assets/linkedin.PNG" style="height: 1.5em;" class="fb_icon">
    </div>
    <img class="mobile_login_logo" src="../../../assets/Main Logo-03.PNG" alt="">
</div>

<div class="mobile_header" *ngIf="!InputData.isLoggedin">
    <img class="mobile_logo" src="../../../assets/Main Logo-03.PNG" alt="">
    <img class="mobile_login_btn" src="../../../assets/LogIn.PNG">
</div>
<div class="mob_reg_header" *ngIf="!InputData.isLoggedin">
    <img class="mob_reg_img" src="../../../assets/REGISTERING AS DEALER.PNG" *ngIf="InputData.showRegImg">
</div>