.header {
    background-color: #efefef;
    /* padding-top: 19px;
    padding-bottom: 12px; */
    margin: 0px;
    height: 8vh;
    margin-bottom: 3vh;
}
#logo-img {
    /* margin-right: 17px; */
    margin-left: 5.5vw;
    height: 3vh;
}
#subtitle-img {
    margin-left: 9%;
    height: 2vh;
}
.reg_img {
    height: 1.4vh;
}
.login_btn {
    background: #a854a2;
    color: white;
    border: none;
    width: 10vw;
    height: 4vh;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 0.1em;
}


.mobile_logo {
    height: 5vh;
    position: absolute;
    top: 2vh;
    left: 50%;
}

.mobile_login_btn {
    position: absolute;
    height: 2.5vh;
    vertical-align: c;
    top: 4vh;
    right: 11vw;
}

.mobile_header {
    height: 9vh;
    background: #e6e6e6;
}

.mob_reg_header {
    margin-top: 2.5vh;
    text-align: center;
}

.mob_reg_img {
    height: 1.5vh;
}


/* 
@media (min-width: 767px) and (max-width: 1280px) {
    .mob_reg_header , .mobile_login_btn, .mobile_logo{
        display: none;
    }

    .header {
        background-color: #efefef;
        margin: 0px;
        height: 9vh;
        margin-bottom: 2vh;
    }

}

@media (min-width: 280px) and (max-width: 767px) { 

    #logo-img, #subtitle-img, .reg_img, .login_btn {
        display: none;
    }
    .mobile_logo {
        height: 5vh;
        position: absolute;
        top: 2vh;
        left: 50%;
    }

    .mobile_login_btn {
        position: absolute;
        height: 2.5vh;
        vertical-align: c;
        top: 4vh;
        right: 11vw;
    }
    .header {
        background-color: #efefef;
        margin: 0px;
        height: 9vh;
        margin-bottom: 2vh;
    }

    .mob_reg_header {
        margin-top: 2.5vh;
        text-align: center;
    }

    .mob_reg_img {
        height: 1.5vh;
    } 
} */