<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 row align-items-center header" fxShow="true" fxHide.lt-md="true">
    <div class="col-lg-6 row title">
        <img src="../../../assets/Logo.PNG" id="logo-img">
        <img src="../../../assets/- Dealers.PNG" id="subtitle-img">
    </div>
    <div class="col-lg-4 register"><img src="../../../assets/REGISTERING AS DEALER.PNG" class="reg_img"></div>
    <div class="col-lg-2 login"><button class="login_btn">LOG IN</button></div>
</div>
<div class="mobile_header" fxShow="true" fxHide.gt-sm="true" >
    <img class="mobile_logo" src="../../../assets/Main Logo-03.PNG" alt="">
    <img class="mobile_login_btn" src="../../../assets/LogIn.PNG">
</div>
<div class="mob_reg_header" fxShow="true" fxHide.gt-sm="true">
    <img class="mob_reg_img" src="../../../assets/REGISTERING AS DEALER.PNG">
</div>
