<div class="dasboard_head">Dashboard</div>
<div class="cards_list">
    <mat-card class="statuscard" *ngFor="let card of statuscards">
        <img src="" class="statuscard_icon">
        <div class="card_value">{{card.value}}</div>
        <div class="card_name">{{card.name}}</div>
    </mat-card>
</div>
<div class="affiliates2">
    <div class="affiliates_head">
        <div class="head">
            Affiliates v.Prospects
            <a class="contact">last 7 days</a>
        </div>
        <mat-card class="affiliatecard">
            <div style="display: block; margin-left:32px">
                <canvas baseChart width="650" height="350" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" chartType="line"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>

        </mat-card>
    </div>
    <div class="affiliate_performancehead">
        <div class="head">
            Affiliate Performance
        </div>
        <mat-card class="affiliatecard">
            <div style="display: block;">
                <canvas baseChart height="350" width="350" [datasets]="barChartData" [labels]="barChartLabels"
                    [colors]="barChartColors" [options]="barChartOptions" [plugins]="barChartPlugins"
                    [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </mat-card>
    </div>
</div>
<div class="affiliates3">
    <div class="new_affiliates">
        <div class="head">
            New Affiliates
        </div>
        <mat-card class="affiliatecardname">
            <div class="affilate_setting" *ngFor="let setting of settings">
                {{setting.name}}
                <a><img class="setting_icon" src="../../../assets/Settings.PNG"></a>
            </div>
        </mat-card>
    </div>
    <div class="performance">
        <div class="head">
            My Campaign Performance
        </div>
        <mat-card class="affiliatecard2">
            <div style="display: block; width: 50%;">
                <canvas baseChart height="200" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
                </canvas>
            </div>
            <div>
                <img style=" width: 50%;" src="../../../assets/Vector Smart Object.PNG">
            </div>
        </mat-card>
    </div>
</div>
<div class="affiliates4">
    <div class="head">
        New Prospects
    </div>
    <div class="prospects_table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="Phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
            <ng-container matColumnDef="Procured?">
                <th mat-header-cell *matHeaderCellDef> Procured? </th>
                <td mat-cell *matCellDef="let element"> {{element.procured}} </td>
            </ng-container>
            <ng-container matColumnDef="LeadSource">
                <th mat-header-cell *matHeaderCellDef> Lead Source </th>
                <td mat-cell *matCellDef="let element"> {{element.leadSource}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>