
@media (min-width: 1025px) {
.cards_list, .affiliates2, .affiliates3 {
    display: flex;
    gap: 3%;
    margin-top: 2%;
    flex-direction: row;
    margin-left: 5%;
}
.affiliates4 {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 6vh;
}
table {
    width: 100%;
}
.head {
    font-size: 16px;
    margin-left: 2vw;
}

.contact {
    text-decoration: underline !important;
    color: #ce59a0 !important;
}
.prospects_table {
    height: 400px;
    max-width: 100%;
    overflow: auto;
    margin-top: 2vh;
}
.dasboard_head {
    margin-left: 5%;
    font-weight: 500;
    font-size: 2em;
    margin-top: 1%;
}

.affiliatecardname {
    margin-top: 2vh;
    height: 271px;
    overflow-y: scroll;
}
.statuscard {
    width: 13.3%;
    text-align: center;
}
.card_name {
    height: 3em;
    margin-top: 2vh;
    color: #a9a3a8;
    font-weight: 200;
}
.setting_icon {
    height: 2vh;
    position: absolute;
    right: 37px;
}
.affilate_setting{
    height: 5vh;
    margin-left: 2vw;
}
.affiliatecard {
    margin-top: 2vh;
}
.affiliatecard2 {
    margin-top: 2vh;
    display: flex;
    align-items: center;
}
.card_value {
    font-size: 2em;
    font-weight: 500;
}
.affiliates_head, .performance {
    width: 61%;
}
.affiliate_performancehead, .new_affiliates {
    width: 31%;
}
}