<app-header [InputData]="HeaderData"></app-header>

<div class="profile_comp">
    <div class="img_blk" [@fadeInOut]="'in'">
        <img src='../../../assets/profile.png' class="person_img">
    </div>
    <div class="form_blk">
        <div class="welcome">WELCOME</div>
        <div style="margin-bottom: 7vh;">
            Your registration has been successfull<br> Complete your profile below to get started
        </div>
        <form [formGroup]="profileForm" class="profile_form">
        <mat-form-field class="address_line_1">
            <mat-label>COMPANY FACEBOOK</mat-label>
            <input matInput formControlName="facebook">
        </mat-form-field>
        <mat-form-field class="address_line_1">
            <mat-label>COMPANY INSTAGRAM</mat-label>
            <input matInput formControlName="instagram">
        </mat-form-field>
        <mat-form-field class="address_line_1">
            <mat-label>COMPANY LINKEDIN</mat-label>
            <input matInput formControlName="linkedin">
        </mat-form-field>
        <div class="btns">
            <button type="button" class="submit_btn" >SUBMIT</button>
        </div></form>
    </div>
</div>
<app-footer></app-footer>