@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mob_prog_1 {   
    width: 67vw;
    margin-left: 11vw;
}
.prog_1 {
    width: 35vw;
    margin-top: 3vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1400px)  {
    mat-form-field {
        width: 72%;
        margin-bottom: 1vh;
        font-size: 28px !important;
        text-align: center;
        /* line-height: 2.125 !important */
    }

    .city_row {
        padding: 0;
        margin: 0;
        justify-content: center;
        margin-left: 4.4vw;
    }
    .registeration_form {
        text-align: center;
        margin-top: 4vh;
    }

    .person_img {
        height: 73vh;
        margin-left: 12vw;
    }

    .next_btn {    
        background-color: black;
        color: white;
        font-size: 31px;
        font-weight: 800;
        height: 5vh;
        margin-top: 2vw;
        width: 14vw;
        letter-spacing: 0.1em;
    }

    .prog_1 {
        width: 32vw;
        margin-top: 3vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1400px) {



}
/* mat-form-field {
    width: 70%;
    margin-bottom: 1vh;
    text-align: center;
    /* line-height: 2.125 !important */
/* } */
/* .mat-input-element {
    font-size: 1.1vw !important;
}

::ng-deep .mat-select-value {
    font-size: 1.1vw !important;
} */
.city_row {
    padding: 0;
    margin: 0;
    justify-content: center;
    /* margin-left: 4.4vw; */
}
.mob_next_btn {    
    background-color: black;
    color: white;
    font-size: 4vw;
    font-weight: 800;
    height: 4vh;
    margin-top: 4vh;
    width: 80vw;
    letter-spacing: 0.1em;
}
.next_btn {    
    background-color: black;
    color: white;
    font-size: 31px;
    font-weight: 800;
    height: 5vh;
    margin-top: 2vw;
    width: 14vw;
    letter-spacing: 0.1em;
}
.next_btn2 {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    height: 42px;
    width: 15.5em;
    letter-spacing: 0.1em;
}
.back_btn {
    border: none;
    /* background-color: black; */
    color: black;
    font-size: 20px;
    font-weight: 800;
    height: 42px;
    width: 8.5em;
    margin-right: 2vw;
    letter-spacing: 0.1em;
}
.upload {
    margin-bottom: 7vh;
    margin-top: 3vh;
    margin-left: 1vw;
}
.upload_icon {
    position: absolute;
    width: 12%;
    left: 4.3vw;
    top: 19vh;
}
.upload_usericon {
    position: absolute;
    width: 12%;
    left: 18.4vw;
    top: 19vh;
}
.rect_icon {
    width: 13vw;
    position: relative;
}
.upload_logotext {
    position: absolute;
    top: 32vh;
    left: 4.6vw;
    /* top: 42%; */
    /* left: 10%; */
    font-size: 1.1vw;
    width: 105px;
    line-height: 3vh;
    text-align: center;
    letter-spacing: 0.05em;
}
.upload_usertext {
    position: absolute;
    top: 32vh;
    left: 19.5vw;
    font-size: 1.1vw;
    width: 105px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
}

.wdg_img {
    width: 55%;
}

.details {
    margin-bottom: 3vh;
}
.details_row {
    padding: 0;
}

.footer {
    width: 100vw;
    position: absolute;
    margin: 0;
    bottom: 0;
}

/* @media (min-width: 1281px)  { */
.register_form {
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
/* } */

.mob_rect2 {
    height: 13vh;
    position: relative;
    /* right: -49vw; */
    left: 71vw;
}
.mob_rect1 {
    height: 13vh;
    padding-top: 1.5vh;
    position: absolute;
    right: 16vw;
}