<app-header></app-header>
<div class="register_comp">
    <div class="img_blk" [@fadeInOut]= "'in'">
        <img [src]='"../../../assets/register" +page+ ".png"' class="person_img">
    </div>
    <div class="form_blk">
        <img [src]='"../../../assets/progress" +page +".png"' class="prog_1">

        <form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit(registrationForm.value)" class="registeration_form">
            <div *ngIf="page == 1">
                <mat-form-field>
                    <mat-label>COMPANY NAME</mat-label>
                    <input matInput formControlName = "companyName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>INDUSTRY</mat-label>
                    <mat-select formControlName = "industryId">
                        <mat-option *ngFor="let industry of industries" [value]="industry.industryId">
                            {{industry.industryName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="details_row">
                    <mat-form-field class="half_width_1">
                        <mat-label>COMPANY EMAIL</mat-label>
                        <input matInput formControlName="companyEmail">
                    </mat-form-field>
                    <mat-form-field class="half_width">
                        <mat-label>COMPANY PHONE</mat-label>
                        <input matInput formControlName="companyPhone">
                    </mat-form-field>
                </div>

                <div class="details_row">
                    <mat-form-field class="half_width_1">
                        <mat-label>USER FIRST NAME</mat-label>
                        <input matInput formControlName = "firstName">
                    </mat-form-field>
                    <mat-form-field class="half_width">
                        <mat-label>USER LAST NAME</mat-label>
                        <input matInput formControlName = "lastName">
                    </mat-form-field>
                </div>

                <div class="details_row1">
                    <mat-form-field class="half_width_1">
                        <mat-label>USER EMAIL</mat-label>
                        <input matInput formControlName = "personalEmail">
                    </mat-form-field>
                    <mat-form-field class="half_width">
                        <mat-label>USER PHONE</mat-label>
                        <input matInput formControlName = "personalPhone">
                    </mat-form-field>
                </div>

                <button type="button" class="next_btn" (click)="navigate_page(2, 'next')">NEXT</button>

            </div>
            <div *ngIf="page == 2">
                <div class="uploads">
                    <div class="upload1">
                        <img src="../../../assets/Rectangle 5 copy.PNG" class="rect_icon">
                        <img src="../../../assets/Upload.PNG" class="upload_icon">
                        <div class="upload_logotext"> COMPANY LOGO</div>
                    </div>
                    <div class="upload">
                        <img src="../../../assets/Rectangle 5 copy.PNG" class="rect_icon">
                        <img src="../../../assets/Upload.PNG" class="upload_icon">
                        <div class="upload_logotext"> USER PHOTO</div>
                    </div>
                </div>
                <div class="uploadtag">Drag image into the box or click to upload a file</div>
                <div class="mob_uploadtag">Click the boxes to upload a file</div>
                <div class="btns">
                    <button type="button" class="back_btn" (click)="navigate_page(1, 'back')">BACK</button>
                    <button type="button" class="next_btn2" (click)="navigate_page(3, 'next')">NEXT</button>
                </div>
            </div>

            <div *ngIf="page == 3" class="details_blk">
                <div class="details">
                    <img src="../../../assets/Google Widget.PNG" class="wdg_img">
                </div>

                <mat-form-field class="address_line_1">
                    <mat-label>ADDRESS LINE 1</mat-label>
                    <input matInput formControlName = "addressLine1">
                </mat-form-field>
                <mat-form-field class="address_line_2">
                    <mat-label>ADDRESS LINE 2</mat-label>
                    <input matInput formControlName = "addressLine2">
                </mat-form-field>

                <div>
                    <mat-form-field class="half_width_1">
                        <mat-label>COUNTRY</mat-label>
                        <mat-select (selectionChange)="oncountrychange($event)" formControlName = "countryId">
                            <mat-option *ngFor="let country of Countries" [value]="country.countryId">
                                {{country.countryName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="half_width">
                        <mat-label>STATE</mat-label>
                        <mat-select formControlName = "stateId">
                            <mat-option *ngFor="let state of states" value="state.stateName">{{state.stateName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="details_row1">
                    <mat-form-field class="half_width_1">
                        <mat-label>CITY</mat-label>
                        <input matInput formControlName = "city">
                    </mat-form-field>

                    <mat-form-field class="half_width">
                        <mat-label>ZIP CODE</mat-label>
                        <input matInput formControlName = "zipCode">
                    </mat-form-field>
                </div>
                <div class="btns">
                    <button type="button" class="back_btn" (click)="navigate_page(2, 'back')">BACK</button>
                    <button type="submit" class="next_btn2" (click)="navigate_page(3, 'next')">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>