<app-header></app-header>
<div class="register_comp">
    <div class="img_blk">
        <img [src]='"../../../assets/register" +page+ ".png"' class="person_img">
    </div>
    <div class="form_blk">

        <img [src]='"../../../assets/progress" +page +".png"' class="prog_1">
        
        <form class="registeration_form">
            <div *ngIf="page == 1">
                <mat-form-field>
                    <mat-label>Industry</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let industry of industries" [value]="industry.industryId">
                            {{industry.industryName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field class="address_line_1">
                    <mat-label>Address Line 1</mat-label>
                    <input matInput placeholder="Address 1">
                </mat-form-field>
                <br>
                <mat-form-field class="address_line_2">
                    <mat-label>Address Line 2</mat-label>
                    <input matInput placeholder="Address 2">
                </mat-form-field>
                <br>
                    <div>
                    <mat-form-field class="country" >
                        <mat-label>Country</mat-label>
                        <mat-select (selectionChange)="oncountrychange($event)">
                            <mat-option *ngFor="let country of Countries" [value]="country.countryId">
                                {{country.countryName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="state">
                        <mat-label>State</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let state of states" value="state.stateName">{{state.stateName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="city">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Address 2">
                    </mat-form-field>
                    
                    <mat-form-field class="zipcode">
                        <mat-label>Zip Code</mat-label>
                        <input matInput placeholder="Zip Code">
                    </mat-form-field>
                </div>
                <button type="button" class="next_btn"
                    (click)="navigate_page(2, 'next')">NEXT</button>

            </div>
            <div *ngIf="page == 2">
                <div class="uploads">
                    <div class="upload1">
                        <img src="../../../assets/Rectangle 5 copy.PNG" class="rect_icon">
                        <img src="../../../assets/Upload.PNG" class="upload_icon">
                        <div class="upload_logotext"> COMPANY LOGO</div>
                    </div>
                    <div class="upload">
                        <img src="../../../assets/Rectangle 5 copy.PNG" class="rect_icon">
                        <img src="../../../assets/Upload.PNG" class="upload_icon">
                        <div class="upload_logotext"> USER PHOTO</div>
                    </div>
                </div>
                <div class="btns">
                    <button type="button" class="back_btn" (click)="navigate_page(1, 'back')">BACK</button>
                    <button type="button" class="next_btn2" (click)="navigate_page(3, 'next')" disabled>NEXT</button>
                </div>
            </div>

            <div *ngIf="page == 3">
                <div class="details">
                    <img src="../../../assets/Google Widget.PNG" class="wdg_img">
                </div>
                <div class="col-lg-12 row details_row">
                    <mat-form-field class="col-lg-4 company_email">
                        <mat-label>COMPANY EMAIL</mat-label>
                        <input matInput placeholder="Company Email">
                    </mat-form-field>
                    <mat-form-field class="col-lg-3  company_phone">
                        <mat-label>COMPANY PHONE</mat-label>
                        <input matInput placeholder="Company Phone">
                    </mat-form-field>

                </div>
                <div class="col-lg-12 row details_row">
                    <mat-form-field class="col-lg-4 personal_email">
                        <mat-label>PERSONAL EMAIL</mat-label>
                        <input matInput placeholder="Personal Email">
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 personal_phone ">
                        <mat-label>PERSONAL PHONE</mat-label>
                        <input matInput placeholder="Personal Phone">
                    </mat-form-field>
                </div>
                <button type="button" class="back_btn" (click)="navigate_page(1, 'back')">BACK</button>
                <button type="button" class="next_btn2" (click)="navigate_page(3, 'next')">NEXT</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>