@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mob_prog_1 {   
    width: 67vw;
    margin-left: 11vw;
}
.prog_1 {
    width: 35vw;
}
mat-form-field {
    width: 80%;
    margin-bottom: 1vh;
    text-align: center;
    /* line-height: 2.125 !important */
}

.registeration_form {
    text-align: center;
}

/* .mat-input-element {
    font-size: 1.1vw !important;
} */

/* ::ng-deep .mat-select-value {
    font-size: 1.1vw !important;
} */
.city_row {
    padding: 0;
    margin: 0;
    margin-left: 2.7vw;
}
.next_btn {   
    background-color: black;
    color: white;
    font-size: 4vw;
    font-weight: 800;
    height: 5vh;
    margin-top: 2vw;
    width: 49vw;
    letter-spacing: 0.1em;
}
.next_btn2 {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    height: 42px;
    width: 15.5em;
    letter-spacing: 0.1em;
}
.back_btn {
    border: none;
    /* background-color: black; */
    color: black;
    font-size: 20px;
    font-weight: 800;
    height: 42px;
    width: 8.5em;
    margin-right: 2vw;
    letter-spacing: 0.1em;
}
.upload {
    margin-bottom: 7vh;
    margin-top: 3vh;
    margin-left: 1vw;
}
.person_img_blk {
    padding-left: 4%;
    height: 87vh;
}
.person_img {
    height: 71vh;
}
.upload_icon {
    position: absolute;
    width: 12%;
    left: 4.3vw;
    top: 19vh;
}
.upload_usericon {
    position: absolute;
    width: 12%;
    left: 18.4vw;
    top: 19vh;
}
.rect_icon {
    width: 13vw;
    position: relative;
}
.upload_logotext {
    position: absolute;
    top: 32vh;
    left: 4.6vw;
    /* top: 42%; */
    /* left: 10%; */
    font-size: 1.1vw;
    width: 105px;
    line-height: 3vh;
    text-align: center;
    letter-spacing: 0.05em;
}
.upload_usertext {
    position: absolute;
    top: 32vh;
    left: 19.5vw;
    font-size: 1.1vw;
    width: 105px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
}

.wdg_img {
    width: 55%;
}

.details {
    margin-bottom: 3vh;
}
.details_row {
    padding: 0;
}

.footer {
    width: 100vw;
    position: absolute;
    margin: 0;
    bottom: 0;
}