@media (min-width: 1025px) {    
    .register_comp {
        height: 79vh;
        display: flex;
        align-items: center;
    }
    .form_blk {
        margin-right: auto;
        margin-left: auto;
    }
    .person_img {
        height: 74.6vh;
    }
    .prog_1 {
        width: 24vw;
        margin-left: auto;
        margin-right: auto;
        /* text-align: center; */
        display: block;
    }
    .img_blk {
        margin-left: 13vw;
        /* margin-right: 10vw; */
    }
    .registeration_form {
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 4%;
    }
    .mat-form-field {
        width: 100%;
        text-align: center;
    }
    .upload1 {
        position: relative;
        /* margin-bottom: 4%; */
        margin-right: 4%;
    }
    .uploads {
        text-align: center;
        margin-bottom: 10%;
        display: flex;
        margin-top: 13%;
    }
    .upload_icon {
        position: absolute;
        left: 28%;
        top: 15%;
        height: 38%;
    }
    .uploadtag {
        margin-bottom: 14%;
        text-align: center;
    }
    .mob_uploadtag{
        display: none;
    }
    .next_btn {
        border: none;
        font-weight: 600;
        color: white;
        background-color: black;
        letter-spacing: 0.1em;
        width: 47%;
        margin-left: 28%;
        margin-top: 8%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .upload_logotext {
        position: absolute;
        left: 32%;
        width: 38%;
        top: 61%;
    }
    .details_row1 {
        margin-bottom: 4%;
    }
    .rect_icon {
        height: 22vh;
    }
    .wdg_img {
        width: 18vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1vh;
    }
  }


  @media (min-width: 768px) and (max-width: 1024px) { 
    .register_comp {
        height: 75vh;
        display: flex;
        align-items: center;
    }

    .upload_icon {
        position: absolute;
        left: 41%;
        top: 19%;
        height: 38%;
    }
    .upload_logotext {
        position: absolute;
        left: 38%;
        width: 25%;
        top: 69%;
    }
    .wdg_img {
        height: 22vh;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: 3vh;
        display: block;
    }
    .details_row1 {
        margin-bottom: 3vh;
    }
  }

  @media (min-width: 280px) and (max-width: 767px) {
    .register_comp {
        height: 73.4vh;
        display: flex;
        align-items: center;
    }  

    .upload_icon {
        position: absolute;
        left: 36%;
        top: 15%;
        height: 36%;
    }
    .back_btn {
        background-color: #e6e6e6;
        border: none;
        font-weight: 500;
        width: 36%;
        letter-spacing: 0.1em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .upload_logotext {
        position: absolute;
        left: 37%;
        width: 25%;
        top: 62%;
    }
    .details_row1 {
        margin-bottom: 5%;
    }

    .wdg_img {
        height: 16vh;
        display: block;
        margin-bottom: 1vh;
        margin-left: auto;
        margin-right: auto;
    }
  }

  /* @media (min-width: 280px) and (max-width: 767px) { */
    @media (min-width: 280px) and (max-width: 1024px) {
    .img_blk , .uploadtag {
        display: none;
    }
    .mob_uploadtag {
        text-align: center;
        margin-bottom: 8%;
    }
    .form_blk {
        margin-right: auto;
        margin-left: auto;
    }
    .registeration_form {
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 5%;
    }
    .mat-form-field {
        width: 100%;
        text-align: center;
    }
    .prog_1 {
        width: 92vw;
        margin-left: auto;
        margin-right: auto;
        /* text-align: center; */
        display: block;
    }
    .next_btn {
        margin-left: 22%;
        width: 59%;
        margin-top: 9%;
        background-color: black;
        color: white;
        font-weight: 600;
        letter-spacing: 0.1em;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
    }

    .rect_icon {
        height: 22vh;
    }

    .details_blk{
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
  }

/* CSS For all screen sizes  */



.upload {
    position: relative;
}
.upload1 {
    position: relative;
    margin-bottom: 4%;
}
.uploads {
    text-align: center;
    margin-bottom: 8%;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.next_btn2 {
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    /* margin-right: auto; */
    margin-left: 7%;
    letter-spacing: 0.1em;
    width: 51%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.back_btn {
    background-color: #e6e6e6;
    border: none;
    font-weight: 500;
    width: 36%;
    letter-spacing: 0.1em;
    padding-top: 5px;
    padding-bottom: 5px;
}


.half_width_1 {
    width: 47%;
    margin-right: 6%;
}
.half_width {
    width: 47%;
}