<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 row  align-items-center footer" fxShow="true" fxHide.lt-md="true">
    <div class="col-lg-9 title">
        <img src="../../../assets/Vector Smart Object_59.PNG" id="footer_logo-img">
    </div>
    <div class="col-lg-3 row register"><img src="../../../assets/fb.PNG" class="fb_icon">
        <img src="../../../assets/linkedin.PNG" class="fb_icon">
        <img src="../../../assets/CONTACT US.PNG" class="contact_img">
    </div>
</div>

<div class="mob-footer" fxShow="true" fxHide.gt-sm="true">
    <img src="../../../assets/Brand Name.PNG" id="mob_footer_logo-img"><br>
    <img src="../../../assets/fb.PNG" style="height: 1.5em;">
    <img src="../../../assets/linkedin.PNG" class="fb_icon">
    <img src="../../../assets/CONTACT US.PNG" class="contact_img">
</div>